h2 {
    margin-bottom: 20px;
    color: #333;
}

input {
    display: none;
}

img {
    border-radius: 5%;
    margin-bottom: 15px;
    border: solid 2px #7b7b7b;
    max-width: 400px;
    max-height: 400px;
    object-fit: cover;
}

button {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #7b7b7b;
    background-color: #dc9393;
    color: #000;
}

button:hover {
    background-color: #f3baba;
}

button:disabled {
    background-color: #e0e0e0;
    color: #a0a0a0;
    border: 1px solid #a0a0a0;
    cursor: not-allowed;
}

.image-wrapp {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.custom-file-btn {
  display: inline-block;
  padding: 10px 20px;
  background: #dc9393;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 15px;
  border: none;
  transition: background 0.2s;
}

.custom-file-btn:hover {
  background: #f3baba;
}

.error {
    color: red;
    font-weight: bold;
    margin-left: 10px;
    font-size: 12px;
}

.picture-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}