<div class="login-container">
    <div class="title-div">
        <h2>Register OD</h2>
        <button style="margin-left: 10px;"(click)="click()">Placeholder</button>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="registerOD()">
        <label for="email">Email: </label>
        <input id="email" type="text" formControlName="email">
        <label for="password">Password: </label>
        <input id="password" type="password" formControlName="password">
        <label for="name">Name: </label>
        <input id="name" type="text" formControlName="name">
        <label for="surname">Surname: </label>
        <input id="surname" type="text" formControlName="surname">
        <label for="address">Address: </label>
        <input id="address" type="text" formControlName="address">
        <label for="phone">Phone: </label>
        <input id="phone" type="text" formControlName="phone">
        <button type="submit" [disabled]="!registerForm.valid">Register</button>
    </form>
</div>
