.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dc9393;
  padding: 15px 0;
  margin-bottom: 30px;
  gap: 30px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 16px;
  border-radius: 5px;
  transition: background 0.2s;
}

.navbar a.active,
.navbar a:hover {
  background-color: #f3baba;
  color: #333;
  cursor: pointer;
}

.logout-btn {
  padding: 8px 16px;
  background: #dc9393;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.2s;
}

.logout-btn:hover {
  background: #f3baba;
  color: #333;
}